
<app-header></app-header>

<div    class="container px-5 py-12 mx-auto">
    <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" >Rodamientos</h1>
        <div class="h-1 w-20 bg-[#ff914d]" style="margin-bottom: 15px;"></div>
      </div>
  <div class="flex flex-wrap -m-4">
    <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
      <a class="block relative h-48 rounded overflow-hidden">
        <img alt="ecommerce" class="object-cover object-center w-full h-full block" src="https://dummyimage.com/420x260">
      </a>
      <div class="mt-4">
        <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">CATEGORY</h3>
        <h2 class="text-gray-900 title-font text-lg font-medium"></h2>
        <p class="mt-1"></p>
      </div>
    </div>